<div *ngIf="cliente.id!=undefined || empresa.id!=undefined" class="menu">
    <div class="nome-empresa">
        <h4 style="cursor: pointer;" [routerLink]="['/inicio']">{{empresa.nome}}</h4>
    </div>
    
    <button mat-button [matMenuTriggerFor]="menu" style="margin-right: 30px;">   
        <div class="menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
        </div>
    </button>

    <mat-menu #menu="matMenu" class="menu-itens">
        <div>
            <button mat-menu-item (click)="editar()">Editar perfil</button>
            <button mat-menu-item (click)="apagarConta()">Apagar conta</button>
            <button mat-menu-item (click)="logout()">Sair</button>
        </div>
        
    </mat-menu>
</div>